<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd" >
<head>
  <meta charset="UTF-8">
  <title>samdidemo商城</title>
  <link rel="stylesheet" type="text/css" href="./lib/layui/css/main.css">
  <link rel="stylesheet" type="text/css" href="./lib/layui/css/layui.css">
  <script type="text/javascript" src="../res/layui/layui.js"></script>
  <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
<style>
  .nav-item{
    width: 80%;
    height: 48px;
    background: #696969;
  }
  .leftFollow{
    height: 480px;
    width:  16%;
    float: left;
    margin-left: 80px;
    background: #696969;
  }
  .hotItem{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width:150px;
  }
  .news_tag{
    background: #e47f7f;
  }
  @font-face {
    font-family: 'webfont';
    font-display: swap;
    src: url('//at.alicdn.com/t/webfont_3ie3tvn9opz.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/webfont_3ie3tvn9opz.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_3ie3tvn9opz.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_3ie3tvn9opz.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_3ie3tvn9opz.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_3ie3tvn9opz.svg#庞门正道标题体2') format('svg'); /* iOS 4.1- */
  }

  .web-font{
    font-family:"webfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }
  .title{
    color: #f5f5f5;
    float: right;
    margin-right: 6px;
    font-size: 16px;
    line-height: 48px
  }
  .itemicon{
    float: right;margin-right: 4px;line-height: 48px
  }
</style>
<body id="list-cont" style="background: #FFF">
  <div class="site-nav-bg">
    <div class="site-nav w1200">
      <p class="sn-back-home">
        <i class="layui-icon layui-icon-home"></i>
        <a href="#">首页</a>
      </p>
      <div class="sn-quick-menu">
        <div class="login"><a  id="loginB" href="userlogin.html" style="color:red">登录</a></div>
        <div class="login"><a  id="loginA" href="userlogin.html" style="color:red">登录</a></div>
        <div class="sp-cart"><a href="myshopcart.html">购物车</a><span>2</span></div>
      </div>
    </div>
  </div>
  <div style="height: 100px;border-bottom: 1px solid #c8baaa;">
    <img style="width: 100px;height: 65px;margin-top: 10px;margin-left: 0px;float:left;" src="logoimage.png"/>
    <div style="border: 2.4px solid rgb(255, 0, 54);width: 305px;height: 30px;float: right;margin-right: 140px;margin-top: 20px">
      <div class="defaultSearch">
        <button style="width: 80px;height: 30px;background:rgb(255, 0, 54);border: 0px;float: right;" id="J_SearchBtn" type="submit">
          搜索
          <s></s></button>
        <input type="text" style="height: 27px;width: 220px;float: left"/>
      </div>
    </div>
  </div>
  <div style="height: 500px;width: 100%;background:#fff">
    <div class="leftFollow">
      <ul class="normal-nav layui-clear">
        <li class="nav-item"  >
          <i class="layui-icon layui-icon-right itemicon"></i>
          <div class="title"><a  style="color: #f5f5f5" href="/goodList.html?id=7">家饰/鲜花</a></div>
        </li>
        <li class="nav-item">
          <i class="layui-icon layui-icon-right itemicon"></i>
          <div class="title"><a style="color: #f5f5f5" href="/goodList.html?id=1">食品/烟酒</a></div>
        </li>
        <li class="nav-item">
          <i class="layui-icon layui-icon-right itemicon"></i>
          <div class="title"><a  style="color: #f5f5f5" href="/goodList.html?id=2">水果/蔬菜</a></div>
        </li>
        <li class="nav-item">
          <img style="width:20px;height: 30px;float: left;margin-left: 4px;line-height: 48px" src="手机.png"/>
          <i style="float: right;margin-right: 4px;line-height: 48px" class="layui-icon layui-icon-right itemicon"></i>
          <div class="title" style="float: right;margin-right: 6px;font-size: 16px;line-height: 48px"><a  style="color: #f5f5f5" href="/goodList.html?id=3">手机/电脑</a></div>
        </li>
        <li class="nav-item">

          <i class="layui-icon layui-icon-right itemicon"></i>
          <div class="title"><a style="color: #f5f5f5" href="/goodList.html?id=6">海鲜/家禽</a></div>
        </li>
        <li class="nav-item">

          <i class="layui-icon layui-icon-right itemicon"></i>
          <div class="title"><a style="color: #f5f5f5" href="/goodList.html?id=4">衣服/布艺</a></div>
        </li>
        <li class="nav-item">

          <i class="layui-icon layui-icon-right itemicon"></i>
          <div class="title"><a style="color: #f5f5f5" href="/goodList.html?id=5">家电/厨具</a></div>
        </li>
      </ul>
    </div>
    <div id="hot" style="background:#fff ;width: 180px;height: 480px;float: right;margin-right: 70px;">
      <div ><img style="width: 60px;height:60px;margin: 0 auto" src="hotImage.png"></div>
      <h1 class="web-font">今日热点</h1>
      <ul class="news_list">
        <li class="hotItem"><a href="//kuaibao.jd.com/article?id=176549950" target="_blank" class="news_link" clstag="h|keycount|head|news_b01"><span class="news_tag">热议</span>华为再次官宣鸿蒙系统发布时间，系统将自带不可卸载的应用</a></li>
        <li class="hotItem"><a href="//kuaibao.jd.com/article?id=190920241" target="_blank" class="news_link" clstag="h|keycount|head|news_b02"><span class="news_tag">最新</span>华为首款鸿蒙新机登场！55W快充+麒麟985，售价惊喜</a></li>
        <li class="hotItem"><a href="//kuaibao.jd.com/article?id=176866571" target="_blank" class="news_link" clstag="h|keycount|head|news_b03"><span class="news_tag">热评</span>华为鸿蒙操作系统正式亮相，界面美观不输安卓，方舟编译器</a></li>
        <li class="hotItem"><a href="//kuaibao.jd.com/article?id=203561026" target="_blank" class="news_link" clstag="h|keycount|head|news_b04"><span class="news_tag">HOT</span>谷歌替华为求情！原因：“鸿蒙OS不够安全”！</a></li>
        <li class="hotItem"><a href="//kuaibao.jd.com/article?id=176549950" target="_blank" class="news_link" clstag="h|keycount|head|news_b01"><span class="news_tag">热议</span>华为再次官宣鸿蒙系统发布时间，系统将自带不可卸载的应用</a></li>
        <li class="hotItem"><a href="//kuaibao.jd.com/article?id=190920241" target="_blank" class="news_link" clstag="h|keycount|head|news_b02"><span class="news_tag">最新</span>华为首款鸿蒙新机登场！55W快充+麒麟985，售价惊喜</a></li>
        <li class="hotItem"><a href="//kuaibao.jd.com/article?id=176866571" target="_blank" class="news_link" clstag="h|keycount|head|news_b03"><span class="news_tag">热评</span>华为鸿蒙操作系统正式亮相，界面美观不输安卓，方舟编译器</a></li>
        <li class="hotItem"><a href="//kuaibao.jd.com/article?id=203561026" target="_blank" class="news_link" clstag="h|keycount|head|news_b04"><span class="news_tag">HOT</span>谷歌替华为求情！原因：“鸿蒙OS不够安全”！</a></li>
      </ul>
    </div>
    <img style="width: 60%;height: 480px;float: right;margin-right: 10px" src="indexbg.png"/>
  </div>
  <div style="height: 370px;width: 100%;background: #f5f5f5;margin-top: 18px">
    <div class="layui-card" style="height: 370px;width: 234px;float: left;margin-left: 80px">
      <h4 style="height: 44px;font-size: 20px;line-height: 44px">品牌闪购  BRAND SALE</h4>
      <img style="width: 234px;height: 340px" src="品牌闪购.jpg"/>
    </div>
    <div class="layui-card" style="width: 485px;height: 370px;float: left;margin-left: 13px">
      <h4 style="height: 44px;font-size: 20px;line-height: 44px">聚名品LUXURY CHANNEL</h4>
      <img style="width: 485px;height: 340px" src="聚名品.jpg"/>
    </div>
    <!--品牌活动BRAND ACTIVITY-->
    <div class="layui-card" style="width: 485px;height: 370px;float: left;margin-left: 13px">
      <h4 style="height: 44px;font-size: 20px;line-height: 44px">品牌活动BRAND ACTIVITY</h4>
      <img style="width: 485px;height: 340px" src="品牌活动.jpg"/>
    </div>
  </div>
  <!--<div class="floors" style="margin-top: 8px">-->
      <!--<div class="sk">-->
        <!--<div class="sk_inner w1200">-->
          <!--<div class="sk_hd">-->
            <!--<a href="javascript:;">-->
              <!--<img src="../res/static/img/s_img1.jpg">-->
            <!--</a>-->
          <!--</div>-->
          <!--<div class="sk_bd">-->
            <!--<div class="layui-carousel" id="test1">-->
              <!--<div carousel-item>-->
                <!--<div class="item-box">-->
                  <!--<div class="item">-->
                    <!--<a href="javascript:;"><img src="../res/static/img/s_img2.jpg"></a>-->
                    <!--<div class="title">宝宝五彩袜棉质舒服</div>-->
                    <!--<div class="price">-->
                      <!--<span>￥49.00</span>-->
                      <!--<del>￥99.00</del>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="item">-->
                    <!--<a href="javascript:;"><img src="../res/static/img/s_img3.jpg"></a>-->
                    <!--<div class="title">宝宝五彩袜棉质舒服</div>-->
                    <!--<div class="price">-->
                      <!--<span>￥49.00</span>-->
                      <!--<del>￥99.00</del>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="item">-->
                    <!--<a href="javascript:;"><img src="../res/static/img/s_img4.jpg"></a>-->
                    <!--<div class="title">宝宝五彩袜棉质舒服</div>-->
                    <!--<div class="price">-->
                      <!--<span>￥49.00</span>-->
                      <!--<del>￥99.00</del>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="item">-->
                    <!--<a href="javascript:;"><img src="../res/static/img/s_img5.jpg"></a>-->
                    <!--<div class="title">宝宝五彩袜棉质舒服</div>-->
                    <!--<div class="price">-->
                      <!--<span>￥49.00</span>-->
                      <!--<del>￥99.00</del>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="item-box">-->
                  <!--<div class="item">-->
                    <!--<a href="javascript:;"><img src="../res/static/img/s_img2.jpg"></a>-->
                    <!--<div class="title">宝宝五彩袜棉质舒服</div>-->
                    <!--<div class="price">-->
                      <!--<span>￥49.00</span>-->
                      <!--<del>￥99.00</del>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="item">-->
                    <!--<a href="javascript:;"><img src="../res/static/img/s_img3.jpg"></a>-->
                    <!--<div class="title">宝宝五彩袜棉质舒服</div>-->
                    <!--<div class="price">-->
                      <!--<span>￥49.00</span>-->
                      <!--<del>￥99.00</del>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="item">-->
                    <!--<a href="javascript:;"><img src="../res/static/img/s_img4.jpg"></a>-->
                    <!--<div class="title">宝宝五彩袜棉质舒服</div>-->
                    <!--<div class="price">-->
                      <!--<span>￥49.00</span>-->
                      <!--<del>￥99.00</del>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="item">-->
                    <!--<a href="javascript:;"><img src="../res/static/img/s_img5.jpg"></a>-->
                    <!--<div class="title">宝宝五彩袜棉质舒服</div>-->
                    <!--<div class="price">-->
                      <!--<span>￥49.00</span>-->
                      <!--<del>￥99.00</del>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>    -->
      <!--</div>-->
    <!--</div>-->
  <!--<div class="hot-recommend-con">-->
       <!--<div class="hot-con1 w1200 layui-clear">-->
          <!--<div class="item">-->
            <!--<h4>热销推荐</h4>-->
            <!--<div class="big-img">-->
              <!--<a href="javascript:;"><img src="../res/static/img/hot1.png"></a>-->
            <!--</div>-->
            <!--<div class="small-img">-->
              <!--<a href="javascript:;"><img src="../res/static/img/hot2.png" alt=""></a>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="item">-->
            <!--<div class="top-img">-->
              <!--<a href="javascript:;"><img src="../res/static/img/hot5.jpg"></a>-->
            <!--</div>-->
            <!--<div class="bottom-img">-->
              <!--<a href="javascript:;"><img src="../res/static/img/hot6.jpg"></a>-->
              <!--<a class="baby-cream" href="javascript:;"><img src="../res/static/img/hot7.jpg"></a>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="item item1 margin0 padding0">-->
            <!--<a href="javascript:;"><img src="../res/static/img/hot8.jpg"></a>-->
            <!--<a href="javascript:;"><img class="btm-img" src="../res/static/img/hot9.jpg"></a>-->
          <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--<div class="product-cont w1200" id="product-cont">-->
      <!--<div class="product-item product-item1 layui-clear">-->
        <!--<div class="left-title">-->
          <!--<h4><i>1F</i></h4>-->
          <!--<img src="../res/static/img/icon_gou.png">-->
          <!--<h5>宝宝服饰</h5>-->
        <!--</div>-->
        <!--<div class="right-cont">-->
          <!--<a href="javascript:;" class="top-img"><img src="../res/static/img/img12.jpg" alt=""></a>-->
          <!--<div class="img-box">-->
            <!--<a href="javascript:;"><img src="../res/static/img/s_img7.jpg"></a>-->
            <!--<a href="javascript:;"><img src="../res/static/img/s_img8.jpg"></a>-->
            <!--<a href="javascript:;"><img src="../res/static/img/s_img9.jpg"></a>-->
            <!--<a href="javascript:;"><img src="../res/static/img/s_img10.jpg"></a>-->
            <!--<a href="javascript:;"><img src="../res/static/img/s_img11.jpg"></a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="product-item product-item2 layui-clear">-->
        <!--<div class="left-title">-->
          <!--<h4><i>2F</i></h4>-->
          <!--<img src="../res/static/img/icon_gou.png">-->
          <!--<h5>奶粉辅食</h5>-->
        <!--</div>-->
        <!--<div class="right-cont">-->
          <!--<a href="javascript:;" class="top-img"><img src="../res/static/img/img12.jpg" alt=""></a>-->
          <!--<div class="img-box">-->
            <!--<a href="javascript:;"><img src="../res/static/img/s_img7.jpg"></a>-->
            <!--<a href="javascript:;"><img src="../res/static/img/s_img8.jpg"></a>-->
            <!--<a href="javascript:;"><img src="../res/static/img/s_img9.jpg"></a>-->
            <!--<a href="javascript:;"><img src="../res/static/img/s_img10.jpg"></a>-->
            <!--<a href="javascript:;"><img src="../res/static/img/s_img11.jpg"></a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="product-item product-item3 layui-clear">-->
        <!--<div class="left-title">-->
          <!--<h4><i>3F</i></h4>-->
          <!--<img src="../res/static/img/icon_gou.png">-->
          <!--<h5>宝宝用品</h5>-->
        <!--</div>-->
        <!--<div class="right-cont">-->
          <!--<a href="javascript:;" class="top-img"><img src="../res/static/img/img12.jpg" alt=""></a>-->
          <!--<div class="img-box">-->
            <!--<a href="javascript:;"><img src="../res/static/img/s_img7.jpg"></a>-->
            <!--<a href="javascript:;"><img src="../res/static/img/s_img8.jpg"></a>-->
            <!--<a href="javascript:;"><img src="../res/static/img/s_img9.jpg"></a>-->
            <!--<a href="javascript:;"><img src="../res/static/img/s_img10.jpg"></a>-->
            <!--<a href="javascript:;"><img src="../res/static/img/s_img11.jpg"></a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--<div class="product-list-box" id="product-list-box">-->
      <!--<div class="product-list-cont w1200">-->
        <!--<h4>更多推荐</h4>-->
        <!--<div class="product-item-box layui-clear">-->
          <!--<div class="list-item">-->
            <!--<a href="javascript:;"><img src="../res/static/img/more1.jpg"></a>-->
            <!--<p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>-->
            <!--<span>￥100.00</span>-->
          <!--</div>-->
          <!--<div class="list-item">-->
            <!--<a href="javascript:;"><img src="../res/static/img/more2.jpg"></a>-->
            <!--<p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>-->
            <!--<span>￥100.00</span>-->
          <!--</div>-->
          <!--<div class="list-item">-->
            <!--<a href="javascript:;"><img src="../res/static/img/more3.jpg"></a>-->
            <!--<p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>-->
            <!--<span>￥100.00</span>-->
          <!--</div>-->
          <!--<div class="list-item">-->
            <!--<a href="javascript:;"><img src="../res/static/img/more1.jpg"></a>-->
            <!--<p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>-->
            <!--<span>￥100.00</span>-->
          <!--</div>-->
          <!--<div class="list-item">-->
            <!--<a href="javascript:;"><img src="../res/static/img/more2.jpg"></a>-->
            <!--<p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>-->
            <!--<span>￥100.00</span>-->
          <!--</div>-->
          <!--<div class="list-item">-->
            <!--<a href="javascript:;"><img src="../res/static/img/more3.jpg"></a>-->
            <!--<p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>-->
            <!--<span>￥100.00</span>-->
          <!--</div>-->
          <!--<div class="list-item">-->
            <!--<a href="javascript:;"><img src="../res/static/img/more1.jpg"></a>-->
            <!--<p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>-->
            <!--<span>￥100.00</span>-->
          <!--</div>-->
          <!--<div class="list-item">-->
            <!--<a href="javascript:;"><img src="../res/static/img/more2.jpg"></a>-->
            <!--<p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>-->
            <!--<span>￥100.00</span>-->
          <!--</div>-->
          <!--<div class="list-item">-->
            <!--<a href="javascript:;"><img src="../res/static/img/more3.jpg"></a>-->
            <!--<p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>-->
            <!--<span>￥100.00</span>-->
          <!--</div>-->
          <!--<div class="list-item">-->
            <!--<a href="javascript:;"><img src="../res/static/img/more1.jpg"></a>-->
            <!--<p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>-->
            <!--<span>￥100.00</span>-->
          <!--</div>-->
          <!--<div class="list-item">-->
            <!--<a href="javascript:;"><img src="../res/static/img/more2.jpg"></a>-->
            <!--<p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>-->
            <!--<span>￥100.00</span>-->
          <!--</div>-->
          <!--<div class="list-item">-->
            <!--<a href="javascript:;"><img src="../res/static/img/more3.jpg"></a>-->
            <!--<p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>-->
            <!--<span>￥100.00</span>-->
          <!--</div>-->
          <!--<div class="list-item">-->
            <!--<a href="javascript:;"><img src="../res/static/img/more1.jpg"></a>-->
            <!--<p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>-->
            <!--<span>￥100.00</span>-->
          <!--</div>-->
          <!--<div class="list-item">-->
            <!--<a href="javascript:;"><img src="../res/static/img/more2.jpg"></a>-->
            <!--<p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>-->
            <!--<span>￥100.00</span>-->
          <!--</div>-->
          <!--<div class="list-item">-->
            <!--<a href="javascript:;"><img src="../res/static/img/more3.jpg"></a>-->
            <!--<p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>-->
            <!--<span>￥100.00</span>-->
          <!--</div>-->
          <!--<div class="list-item">-->
            <!--<a href="javascript:;"><img src="../res/static/img/more1.jpg"></a>-->
            <!--<p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>-->
            <!--<span>￥100.00</span>-->
          <!--</div>-->
          <!--<div class="list-item">-->
            <!--<a href="javascript:;"><img src="../res/static/img/more2.jpg"></a>-->
            <!--<p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>-->
            <!--<span>￥100.00</span>-->
          <!--</div>-->
          <!--<div class="list-item">-->
            <!--<a href="javascript:;"><img src="../res/static/img/more3.jpg"></a>-->
            <!--<p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>-->
            <!--<span>￥100.00</span>-->
          <!--</div>-->
          <!--<div class="list-item">-->
            <!--<a href="javascript:;"><img src="../res/static/img/more1.jpg"></a>-->
            <!--<p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>-->
            <!--<span>￥100.00</span>-->
          <!--</div>-->
          <!--<div class="list-item">-->
            <!--<a href="javascript:;"><img src="../res/static/img/more2.jpg"></a>-->
            <!--<p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>-->
            <!--<span>￥100.00</span>-->
          <!--</div>-->
          <!--<div class="list-item">-->
            <!--<a href="javascript:;"><img src="../res/static/img/more3.jpg"></a>-->
            <!--<p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>-->
            <!--<span>￥100.00</span>-->
          <!--</div>-->
          <!--<div class="list-item">-->
            <!--<a href="javascript:;"><img src="../res/static/img/more1.jpg"></a>-->
            <!--<p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>-->
            <!--<span>￥100.00</span>-->
          <!--</div>-->
          <!--<div class="list-item">-->
            <!--<a href="javascript:;"><img src="../res/static/img/more2.jpg"></a>-->
            <!--<p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>-->
            <!--<span>￥100.00</span>-->
          <!--</div>-->
          <!--<div class="list-item">-->
            <!--<a href="javascript:;"><img src="../res/static/img/more3.jpg"></a>-->
            <!--<p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>-->
            <!--<span>￥100.00</span>-->
          <!--</div>-->
          <!--<div class="list-item">-->
            <!--<a href="javascript:;"><img src="../res/static/img/more1.jpg"></a>-->
            <!--<p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>-->
            <!--<span>￥100.00</span>-->
          <!--</div>-->
          <!--<div class="list-item">-->
            <!--<a href="javascript:;"><img src="../res/static/img/more2.jpg"></a>-->
            <!--<p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>-->
            <!--<span>￥100.00</span>-->
          <!--</div>-->
          <!--<div class="list-item">-->
            <!--<a href="javascript:;"><img src="../res/static/img/more3.jpg"></a>-->
            <!--<p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>-->
            <!--<span>￥100.00</span>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--<div class="footer">-->
    <!--<div class="ng-promise-box">-->
      <!--<div class="ng-promise w1200">-->
        <!--<p class="text">-->
          <!--<a class="icon1" href="javascript:;">7天无理由退换货</a>-->
          <!--<a class="icon2" href="javascript:;">满99元全场免邮</a>-->
          <!--<a class="icon3" style="margin-right: 0" href="javascript:;">100%品质保证</a>-->
        <!--</p>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="mod_help w1200">                                     -->
      <!--<p>-->
        <!--<a href="javascript:;">关于我们</a>-->
        <!--<span>|</span>-->
        <!--<a href="javascript:;">帮助中心</a>-->
        <!--<span>|</span>-->
        <!--<a href="javascript:;">售后服务</a>-->
        <!--<span>|</span>-->
        <!--<a href="javascript:;">母婴资讯</a>-->
        <!--<span>|</span>-->
        <!--<a href="javascript:;">关于货源</a>-->
      <!--</p>-->
      <!--<p class="coty">母婴商城版权所有 &copy; 2012-2020</p>-->
    <!--</div>-->
  <!--</div>-->
  <script type="text/javascript">
layui.config({
    base: '../res/static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
  }).use(['mm','carousel'],function(){
      var carousel = layui.carousel,
     mm = layui.mm;
     var option = {
        elem: '#test1'
        ,width: '100%' //设置容器宽度
        ,arrow: 'always'
        ,height:'298' 
        ,indicator:'none'
      }
      carousel.render(option);
      // 模版引擎导入
     // var ins = carousel.render(option);
     // var html = demo.innerHTML;
     // var listCont = document.getElementById('list-cont');
     // // console.log(layui.router("#/about.html"))
     //  mm.request({
     //    url: '../json/index.json',
     //    success : function(res){
     //      console.log(res)
     //      listCont.innerHTML = mm.renderHtml(html,res)
     //      ins.reload(option);
     //    },
     //    error: function(res){
     //      console.log(res);
     //    }
     //  })
    

});
  </script>
<script>
  $(function () {
    $('#loginA').text(localStorage.getItem("UserName"))
    $.ajax({
      url:"user/getByName/"+localStorage.getItem("UserName"),
      dataType:"json",
      type:"get",
      success:function (res) {
        alert(res)
        localStorage.setItem("localUserId",res)
        alert("成功获取并保存用户ID到本地")

      }
    })
    $('#loginB').text(localStorage.getItem("localUserId"))
    //alert(localStorage.getItem("localUserId"))
  })
</script>
</body>
</html>